.header {
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-radius: var(--size3) var(--size3) 0 0;
  color: var(--white);
  padding: var(--size2) var(--size3);
}
.content {
  font-size: var(--font-md);
  text-transform: uppercase;
  text-align: center;
}
