.container {
  background: #21212b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--size3) var(--size3);
  border-radius: 0 0 var(--size3) var(--size3);
  height: 100px;
}
.label {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
}
.station {
  font-size: var(--font-md);
}
