.container {
  width: 450px;
  margin: auto;
  margin-top: var(--size1);
  filter: drop-shadow(0px 40px 52px rgba(0, 0, 0, 0.4));
}
.stations {
  background: var(--base-color-700);
  padding: var(--size2) var(--size3);
  border-bottom: 2px solid #3f3f47;
}
.station {
  border-bottom: 1px solid var(--base-color-600);
}
.station:last-child {
  border-bottom: 0;
}
