:root {
  --primary-color: #edad61;
  --primary-content-color: #a2abbd;
  --white: #ffffff;
  --base-color-900: #20202b;
  --base-color-800: #21212b;
  --base-color-700: #2b2b35;
  --base-color-600: #43434c;
  --font-sm: 14px;
  --font-md: 22px;
  --font-medium: 400;
  --font-bold: 700;
  --size1: 8px;
  --size2: 16px;
  --size3: 24px;
  --size4: 32px;
  --size5: 40px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-medium);
  background: var(--base-color-900);
  color: var(--primary-content-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
