.container {
  font-size: var(--font-md);
  cursor: pointer;
  padding: var(--size2) 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.stationImg {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 4px solid var(--primary-content-color);
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size4) 0;
}
